/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* adjust typography defaults */
h1 {
  color: white;
  margin-left: 20px;
}
p{
  color: white;
  margin-left: 20px;
}
body{
  margin: 1rem;
  font-family: segoe;
  line-height: 1.5;
  background-image: url('https://cinoswxccgt.github.io/demo1/alderhey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
